html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}


header{
    border: solid 3px lightgrey;
}

.oldagram-logo {
    width: 160px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
}

.user-avatar {
    width: 60px;
    float: right;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 8px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-user-avatar {
    width: 60px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 8px;

}

.post-username {
    font-weight: bold;
    font-size: 13px;

}

.post-location {
    font-size: 12px;
}

.post-user-info{
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.post-image {
    width: 100%; 
}

.post-actions {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.post-action-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.post-likes{
    font-weight: bold;
    padding: 0 10px;

}


.post-caption {
    padding: 5px 10px;
}

.post-caption-username {
    font-weight: bold;
    margin-right: 5px;
}

.post-caption-text {
    font-size: 14px;
}